<!DOCTYPE html>
<html lang="en">
  <head title="Document">
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"></link>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>
      Document
    </title>
  </head>

  <body class="w-dvw h-dvh flex flex-col justify-center items-center overflow-x-hidden overflow-y-auto">
    <div class="flex-col flex justify-center items-center gap-2">
      <form class="flex flex-col justify-center items-center gap-2 border rounded-lg p-5" action="/hello" method="POST">
        <p>
          Form
        </p>
        <input class="rounded-lg p-2.5 border" type="text"></input>
        <input class="rounded-lg p-2.5 border" type="text"></input>
        <input class="rounded-lg p-2.5 border" type="text"></input>
        <button class="bg-blue-400 text-white flex justify-center items-center gap-2 rounded-lg p-2.5 cursor-pointer hover:opacity-75" type="submit">
          <span class="material-symbols-outlined">
            upload
          </span>
          <p>
            upload
          </p>
        </button>
      </form>
    </div>
  </body>
</html>
